@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@200;300;400&display=swap');
body {
  background-color: #fffdfb;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

h1 {
  font-weight: bolder;
}

/* Header Component */
.header {
  padding: 3%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: 'Barlow Condensed', sans-serif;
}

.logo > a {
  color: black;
  text-decoration: none;
}

/* Main Navigation Bar */
.main-navigation {
  text-align: center;
  width: 70%;
  padding-top: 1% ;
}

.main-navigation-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.main-navigation-links > a {
  color: black;
  text-decoration: none;
}

.main-navigation-links > a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Footer */
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  color: rgb(99, 77, 8);
  margin-top: 3%;
  font-weight: lighter;
  font-size: 17px;
  border-top: 2px solid rgb(117, 99, 19);
  padding: 1%;
}